html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: entypo;
  font-weight: normal;
  font-style: normal;
  src: url("/fonts/entypo/entypo.eot");
  src: url("/fonts/entypo/entypo.eot?#iefix") format("embedded-opentype"), url("/fonts/entypo/entypo.woff") format("woff"), url("/fonts/entypo/entypo.ttf") format("truetype"), url("/fonts/entypo/entypo.svg#entypo") format("svg");
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  font-size: 14px;
  line-height: 20px;
  font-family: "avenir next", avenir, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #444444;
  background-color: #eff0ec;
  border: 0;
}

h1 {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

header [data-search="item"], .dropdown-toggle,
.button {
  border-radius: 3px;
  border: 1px solid #b3b8a5;
  color: #b3b8a5;
  cursor: pointer;
  display: inline-block;
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
}
header [data-search="item"]:hover, .dropdown-toggle:hover,
.button:hover {
  background-color: #b3b8a5;
  color: white;
}
header .active[data-search="item"], header [data-search="item"]:focus, .active.dropdown-toggle, header .active[data-search="item"]:hover, header [data-search="item"]:hover:focus, .active.dropdown-toggle:hover,
.button.active,
.button.active:hover {
  background-color: #b3b8a5;
  color: white;
  cursor: default;
}

header [data-toggle="group"] .button,
.button-group .button {
  border-radius: 0;
  float: left;
  margin-left: -1px;
}
header [data-toggle="group"] .button:first-child,
.button-group .button:first-child {
  border-radius: 3px 0 0 3px;
  margin-left: 0;
}
header [data-toggle="group"] .button:last-child,
.button-group .button:last-child {
  border-radius: 0 3px 3px 0;
}

.width-wrapper {
  *zoom: 1;
  margin: 0 auto;
}
.width-wrapper:before, .width-wrapper:after {
  content: " ";
  display: table;
}
.width-wrapper:after {
  clear: both;
}

header {
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  background-color: rgba(239, 240, 236, 0.9);
  border-bottom: 1px solid transparent;
  min-height: 50px;
  z-index: 9999;
}
.is-loading header {
  -webkit-transform: translateY(-51px);
  -moz-transform: translateY(-51px);
  -ms-transform: translateY(-51px);
  -o-transform: translateY(-51px);
  transform: translateY(-51px);
}
.is-scrolling header {
  border-color: #bfc3b3;
}
header h1 {
  float: left;
  margin-right: 10px;
}
header h1 a {
  width: 24px;
  height: 50px;
  background-image: url("../../images/runner-tan.png");
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 24px auto;
  display: block;
}
header .view-actions {
  float: right;
  margin: 10px 0;
}
header .view-action {
  float: left;
  margin-left: 10px;
  position: relative;
}
header [data-search="item"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  -webkit-transition: width, 0.2s;
  -moz-transition: width, 0.2s;
  transition: width, 0.2s;
  background-color: transparent;
  cursor: text;
  font-size: 14px;
  width: 160px;
}
header [data-search="item"]::-webkit-input-placeholder {
  color: #b3b8a5;
  font-family: "avenir next", avenir, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: inherit;
  font-style: italic;
}
header [data-search="item"]:-moz-placeholder {
  color: #b3b8a5;
  font-family: "avenir next", avenir, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: inherit;
  font-style: italic;
}
header [data-search="item"]::-moz-placeholder {
  color: #b3b8a5;
  font-family: "avenir next", avenir, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: inherit;
  font-style: italic;
}
header [data-search="item"]:-ms-input-placeholder {
  color: #b3b8a5;
  font-family: "avenir next", avenir, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: inherit;
  font-style: italic;
}
header [data-search="item"]:focus {
  outline: none;
  width: 260px;
}
header [data-search="item"]:focus::-webkit-input-placeholder {
  color: rgba(239, 240, 236, 0.5);
}
header [data-search="item"]:focus:-moz-placeholder {
  color: rgba(239, 240, 236, 0.5);
}
header [data-search="item"]:focus::-moz-placeholder {
  color: rgba(239, 240, 236, 0.5);
}
header [data-search="item"]:focus:-ms-input-placeholder {
  color: rgba(239, 240, 236, 0.5);
}
header [data-search="item"]:focus + [data-search="close"] {
  cursor: pointer;
  opacity: 0.3;
}
header [data-search="item"]:focus + [data-search="close"]:hover {
  opacity: 1 !important;
}
header [data-search="close"] {
  position: absolute;
  top: 0px;
  right: 10px;
  width: 10px;
  height: 30px;
  color: #eff0ec;
  line-height: 32px;
  opacity: 0;
}

.dropdown {
  float: left;
  padding: 10px 0 10px 10px;
  position: relative;
}

.dropdown-menu {
  position: absolute;
  top: 43px;
  left: 50%;
  background-color: #222222;
  border-radius: 5px;
  display: none;
  margin-left: -80px;
  padding: 5px 0;
  width: 160px;
}
.dropdown-menu::before {
  position: absolute;
  top: 0px;
  left: 50%;
  width: 10px;
  height: 10px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  background-color: #222222;
  content: "";
  margin: -5px 0 0 -5px;
}
.dropdown-menu a.filter {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: #CCC;
  cursor: pointer;
  display: block;
  height: 30px;
  line-height: 30px;
  padding: 0 15px;
}
.dropdown-menu a.filter:hover {
  background-color: rgba(255, 255, 255, 0.05);
  color: white;
}
.dropdown-menu a.filter.active, .dropdown-menu a.filter.active:hover {
  background-color: black;
  color: white;
  cursor: default;
}

.open .dropdown-menu {
  display: block;
}

#items {
  width: 100%;
  height: 100%;
  position: relative;
  top: 50px;
  *zoom: 1;
  overflow: visible;
}
#items:before, #items:after {
  content: " ";
  display: table;
}
#items:after {
  clear: both;
}
#items .item {
  background-color: #eff0ec;
  border: 2px solid #eff0ec;
  display: block;
  line-height: 1.3;
  position: relative;
}
#items .item:hover {
  color: #eff0ec;
  z-index: 10;
}
#items .item.hide {
  display: none;
}
#items p {
  position: absolute;
  top: 10px;
  right: 10px;
  bottom: 10px;
  left: 10px;
  display: block;
  font-weight: bold;
  overflow: hidden;
}
#items b {
  font-weight: normal;
}

#items .defect {
  box-shadow: inset 0 0 0 2px #db6463;
  color: #db6463;
}
#items .defect:hover {
  background-color: #db6463;
}
#items .task {
  box-shadow: inset 0 0 0 2px #e5bc3b;
  color: #e5bc3b;
}
#items .task:hover {
  background-color: #e5bc3b;
}
#items .story {
  box-shadow: inset 0 0 0 2px #32bf90;
  color: #32bf90;
}
#items .story:hover {
  background-color: #32bf90;
}
#items .test {
  box-shadow: inset 0 0 0 2px #448dd9;
  color: #448dd9;
}
#items .test:hover {
  background-color: #448dd9;
}

[data-view="grid"] .no-score,
[data-view="grid"] .S {
  width: 100px;
  height: 100px;
  font-size: 12px;
}
[data-view="grid"] .M {
  width: 200px;
  height: 200px;
}
[data-view="grid"] .L {
  width: 300px;
  height: 300px;
  font-size: 16px;
}
[data-view="grid"] .XL {
  width: 400px;
  height: 400px;
  font-size: 22px;
}

[data-view="list"] .item {
  width: 100%;
  height: 40px;
}

@-webkit-keyframes pulse {
  0% {
    opacity: 0.3;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes pulse {
  0% {
    opacity: 0.3;
  }

  100% {
    opacity: 1;
  }
}

@-o-keyframes pulse {
  0% {
    opacity: 0.3;
  }

  100% {
    opacity: 1;
  }
}

@keyframes pulse {
  0% {
    opacity: 0.3;
  }

  100% {
    opacity: 1;
  }
}

#mask {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: #eff0ec;
  z-index: 999;
}
#mask .runner {
  -webkit-animation: pulse 0.4s infinite alternate;
  -moz-animation: pulse 0.4s infinite alternate;
  animation: pulse 0.4s infinite alternate;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 27px;
  height: 33px;
  background-image: url("../../images/runner-tan.png");
  margin-left: -17.5px;
  margin-top: -20px;
}

.is-loading {
  overflow: hidden;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
}

.isotope {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  transition-property: height, width;
}
.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  transition-property: transform, opacity;
}

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  transition-duration: 0.8s;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

[data-icon] {
  font-family: entypo;
  font-size: 30px;
}

[data-icon="close"]::before {
  content: "\274E";
}

[data-icon="grid"]::before {
  content: "\268F";
}

[data-icon="list"]::before {
  content: "\2630";
}
