// COMMENTS
.comment {
  @include display-box;
  @include box-align(start);
  @include box-orient(horizontal);
  @include box-pack(start);
  margin: 0 $padding-item-details $padding-item-details $padding-item-details;
  
  .avatar {
    $size: 50px;
    @include box-flex(1);
    @include size($size);
    min-width: $size;
    margin-right: 10px;
    position: relative;

    &::before {
      $size-carrot: 10px;
      $margin: -($size-carrot / 2);
      @include position(absolute, 50% -11px 0 0);
      @include size($size-carrot);
      @include transform(rotate(45deg));
      background-color: $color-background;
      content: "";
      display: block;
      margin: $margin $margin 0 0;
    }

    img {
      border-radius: $size / 2;
      border: 2px solid $color-background;
      max-width: $size;
      position: relative;
      display: block;
    }
  }

  article {
    @include box-flex(1);
    padding: 1em 1em 0;
    border-radius: 3px;
    background-color: $color-background;
    color: $color-text;

    hgroup {
      padding-bottom: 1em;
    }

    time {
      font-size: 14px;
      font-style: italic;
    }
  }
}
