// ITEMS DETAILS
.item-details {
  @include position(fixed, 0px 0px 0px 0px);
  @include animation(item-details $timing-item-details ease-out);
  color: $color-background;
  display: none;
  font-size: 16px;
  z-index: 9999;

  .item-details-wrapper {
    @extend %width-wrapper;
    padding: $padding-item-details 0;
    width: 440px;
  }

  [data-target="item"] {
    border-bottom: 1px solid $color-background;
    height: 50px;
    overflow: hidden;
    padding: 0 $padding-item-details;
  }

  .item {
    background-color: transparent;
    border: 2px solid $color-background;
    box-shadow: none;
    color: $color-background;

    &[data-type]:hover {
      background-color: transparent;
      cursor: default;
    }

    .title {
      display: none;
    }
  }

  [data-target="item-details"] {
    padding: $padding-item-details;
  }
}

[data-hide="item-details"] {
  @include position(absolute, 0px 0px 0 0);
  @include size($height-header);
  color: $color-background;
  cursor: pointer;
  font-size: 60px;
  line-height: $height-header;
  opacity: 0.6;
  text-align: center;

  &:hover {
    opacity: 1;
  }
}

// STATUSES
@mixin item-details-type($color) {
  background-color: rgba($color, 0.9);
}

.item-details {
  &[data-type="defect"] {
    @include item-details-type($color-defect);
  }

  &[data-type="task"] {
    @include item-details-type($color-task);
  }

  &[data-type="story"] {
    @include item-details-type($color-story);
  }

  &[data-type="test"] {
    @include item-details-type($color-test);
  }
}

.show-item-details {
  .items-wrapper {
    @include transition(-webkit-filter, $timing-item-details, ease-in);
    -webkit-filter: blur(5px);    
  }

  .item-details {
    display: block;
  }
}

// ANIMATION
@include keyframes(item-details) {
  0% {
    @include transform(scale(0.3));
    opacity: 0;
  }
  100% {
    @include transform(scale(1));
    opacity: 1;
  }
}
