* {
  @include box-sizing(border-box);
}

html, 
body {
  font-size: 14px;
  line-height: 20px;
  font-family: $font-base;
  color: $color-text;
  background-color: $color-background;
  border: 0;
}

h1 {
  margin: 0;
  padding: 0;
}

h2 {
  padding-bottom: 1em;
  font-weight: bold;
  font-size: 18px;
}

h3 {
  font-weight: bold;
  font-size: 16px;
}

p {
  padding-bottom: 1em;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
